@model  TheWorld.Models.LoginViewModel
@{
    ViewBag.title = "Login";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Login</h3>
        <form method="post" novalidate>
            <div asp-validation-summary="ValidationSummary.ModelOnly"> </div>
            <div class="form-group">
                <label class="" asp-for="Username"></label>
                <input class="form-control" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label class="" asp-for="Password"></label>
                <input class="form-control" asp-for="Password" type="password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-success" value="Login" type="submit" />
            </div>
        </form>
    </div>
</div>