﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The World - @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/yeti/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper" class="wrapper">

        <div id="sidebar" class="sidebar">

            @if (User.Identity.IsAuthenticated)
            {
                <div class="logo">
                    <img class="logo-image" src="~/images/logo.jpg" alt="logo" />
                </div>
                <div class="username">@User.Identity.Name</div>
            }

            <div class="title">The World Track</div>
            <ul class="nav">
                <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="App" asp-action="Trips">My Trips</a></li>
                    <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
                }
            </ul>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarbtn" class="btn btn-primary btn-sm">
                            <i class="togglemenuicon fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">The World</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button  class="btn btn-info btn-sm">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-info btn-sm">
                            <i class="fa fa-print"></i>
                            Print
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main container-fluid">
            @RenderBody()
        </div>
        <div class="footer container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">
                    &copy; 2017 The World.
                </h4>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/scripts/app.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
