﻿@{ 
    ViewBag.title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>Welcome to The World</h1>
        <p>Plan for your world trips</p>
        <div class="form-group">
            <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success" >View My Trips</a>
        </div>
    </div>
</div>