﻿@model IEnumerable<TheWorld.Models.Trip>
@{ 
    ViewBag.title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>The World</h1>
        <p>This will be a fun site soon!</p>

        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="add" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h1>Map</h1>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name @item.DateCreated.ToString("D")</li>
            }
        </ul>
    </div>
</div>