﻿/*
    body {
    font-family:sans-serif;
    font-size:14px;
    margin:0;
}

label {
    font-weight:bold;
    display:block;
}
input[type=text], input[type=password], textarea {
    width: 150px;
}
*/
.navbar { margin-bottom:0;}
.main {
    background:#eee;
}
.wrapper {
    margin: 0 0 0 300px;
    transition: margin-left ease .25s;
}
.sidebar {
    width: 300px;
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    overflow: hidden;
    left: 0;
    margin: 0;
    transition: left ease .25s;
}

#sidebar.hide-sidebar {
    left:-300px;
    transition: left ease .25s;
}
#wrapper.hide-sidebar {
    margin-left: 0px;
    transition: margin-left ease .25s;
}

.sidebar .logo {

}

.sidebar .logo .logo-image {
    max-width: 80px;
}
.sidebar .title {

}
.sidebar .menu {
    font-size:12px;
}
.sidebar .menu li { 
    list-style:none;
}
.sidebar .menu li.active{
    font-weight:bold;
}